<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="carBean" class="org.example.Mercedes"/>

    <bean id="keyboard" class="org.example.Keyboard"/>

    <bean id="headphones" class="org.example.Headphones"/>

    <bean id="graphicTablet" class="org.example.GraphicTablet"/>

    <bean id="shop" class="org.example.Shop">
        <constructor-arg ref="keyboard"/>
    </bean>

</beans>
